body {
  font-family: Lato;
  background: rgb(18, 0, 40);
  background: linear-gradient(
    225deg,
    rgba(18, 0, 40, 1) 0%,
    rgba(43, 14, 81, 1) 100%
  );
  background-attachment: fixed;
  margin: 0 auto;
  padding: 0;
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

@media all and (max-width: 480px) {
  .title {
    color: #f4ede3;
    font-size: 1.4rem;
    margin-top: 1rem;
    font-weight: bold;
  }
  .projectName {
    color: #f4ede3;
    font-size: 1.8rem;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    font-style: italic;
    font-weight: bold;
  }
  .premiereDate {
    color: #f4ede3;
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
  }
  .posterImg {
    display: block;
    margin: 0 auto;
    width: 15.75rem;
    border-radius: 1.5rem;
  }
  .lowerBox {
    border-radius: 2.59375rem 0rem;
    background: #f4ede3;
    margin-top: 1rem;
    height: fit-content;
  }
  .pInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0.3rem;
  }

  .pInfo p {
    font-weight: bold;
    color: #2b0e51;
    margin: 0.2rem;
  }

  .pInfo .nextProject {
    /* font-style: italic; */
    font-weight: bolder;
  }

  footer {
    margin-top: 1rem;
    color: #f4ede3;
    text-align: center;
    font-size: 0.8rem;
  }
  footer a {
    color: #f4ede3;
  }
}

@media all and (min-width: 480px) /*and (max-width: 768px) */ {
  .title {
    color: #f4ede3;
    font-size: 2.375rem;
    margin-top: 1rem;
    font-weight: bold;
  }
  .projectName {
    color: #f4ede3;
    font-size: 2.2rem;
    margin-top: 0.4rem;
    margin-bottom: 0.2rem;
    font-style: italic;
    font-weight: bold;
  }
  .premiereDate {
    color: #f4ede3;
    font-size: 1.6rem;
    margin-bottom: 0.8rem;
  }
  .posterImg {
    display: block;
    margin: 0 auto;
    width: 22.75rem;
    border-radius: 1.5rem;
  }
  .lowerBox {
    border-radius: 2.59375rem 0rem;
    background: #f4ede3;
    margin-top: 1rem;
    height: fit-content;
  }
  .pInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0.3rem;
  }

  .pInfo p {
    font-weight: bold;
    color: #2b0e51;
    margin: 0.2rem;
    font-size: 1.1rem;
  }

  .pInfo .nextProject {
    /* font-style: italic; */
    font-weight: bolder;
  }

  footer {
    margin-top: 1rem;
    color: #f4ede3;
    text-align: center;
    font-size: 1rem;
  }
  footer a {
    color: #f4ede3;
  }
}
